streamlit
pandas
plotly
pyodbc
geopandas
folium
streamlit-folium
requests
beautifulsoup4
weasyprint
openpyxl
xlsxwriter
scikit-learn
statsmodels
pandasai
python-dotenv
zepid
epilearn
torch
duckdb
pyarrow
numpy
streamlit-echarts
